body {
    background-color: #1a1a1a; 
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.character-image {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
}
h1{
    color:rgb(208, 196, 22);
    text-transform: uppercase;
}
h2{
    font-size: 20px;
}
select{
    background: transparent;
    background-color: #1a1a1a;
    border: none;
    border-bottom: 5px solid rgb(208, 196, 22);
    color: white;
    font-size: 18px;
    min-width: 50%;
    outline: none;
}
