
body {
    background-color: #1a1a1a; 
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


h1 {
    color:rgb(22, 208, 174);
    text-transform: uppercase;
}

input{
    background: transparent;
    border: none;
    border-bottom: 5px solid #555;
    color: white;
    font-size: 18px;
    width: 100%;
    outline: none;
}

input:focus {
    border-bottom: 5px solid rgb(22, 208, 174);
}

ul {
    list-style: none;
    padding: 0;
    width: 400px;
}

li {
    background: #333;
    height: 40px;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border-bottom: 20px solid rgb(22, 208, 174);
    transition: transform 0.15s;
    cursor: pointer;
}

li:hover {
    transform: scale(1.1);
    background: #444;
    border-bottom: 20px solid rgb(194, 230, 223);
}