body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.random-image {
    width: 300px;
    height: 300px;
    background-color: #333333;
    padding: 20px;
    border-radius:20px;
    border-bottom: 50px solid #f5725e;
}
