body {
    background-color: #1a1a1a; 
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #ff4d4d; 
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
    width: 400px;

}

li {
    background: #333;
    height: 40px;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border-bottom: 30px solid #ff4d4d;
    transition: transform 0.15s;
    cursor: pointer;
}

li:hover {
    transform: scale(1.1);
    background: #444;
}